.falcon-section-1 {
    @include section-size("/dist/images/falcon9/01.jpg");
    color: $main;
}

.falcon-section-1-2 {
    background-color: #000000;
    min-width: 100vw;
    height: 20rem;
    @include flex(row, space-around, center);
    .info-text {
        color: #fff;
        @include flex(column, flex-start, center);
    }
}

.falcon-section-2 {
    @include section-size("/dist/images/falcon9/02.jpg");
    color: $main;
    .falcon-desc {
        margin-top: 12%;
        width: 40%;
        p{
            line-height: 72px;
            height: 100vh;
        }
    }
}

.falcon-section-3 {
    min-height: 100vh;
    min-width: 100vw;
    color: $main;
    .carousel, .slide, .carousel-inner {
        height: 100%;
        width: 100%;
    }
    .falcon-carousel1-1{
        background-image: url(/dist/images/03.jpg);
        background-size: cover;
    }
}

.falcon-section-4 {
    @include section-size("/dist/images/falcon9/02.jpg");
    color: $main;
}

.falcon-section-content {
    margin-top: 20%;
    @include flex(column, center, center);
}

.learn-more-btn {
    padding: $m1 $l1;
}

