.falcon-section-1 {
    @include section-size("/dist/images/falcon9/01.jpg");
    color: $main;
}

.falcon-section-1-2 {
    background-color: #000000;
    min-width: 100vw;
    height: 20rem;
    @include flex(row, space-around, center);
    .info-text {
        color: #fff;
        @include flex(column, flex-start, center);
    }
}

.falcon-section-2 {
    @include section-size("/dist/images/falcon9/02.jpg");
    color: $main;
    .falcon-desc {
        margin-top: 12%;
        width: 40%;
        h5{
            line-height: 50px;
        }
    }
}

.falcon-section-3 {
    min-height: 100vh;
    min-width: 100vw;
    color: $main;
    .carousel, .carousel-inner, .carousel-item {
        height: 100vh;
        width: 100%;
        .f-c-content {
            margin-top: 15%;
            margin-left: 13.5%;
            width: 35%
        }
        .f-c-item1{
            @include section-size("/dist/images/falcon9/03.jpg");
        }
        .f-c-item2{
            @include section-size("/dist/images/falcon9/04.jpg");
        }
        .f-c-item3{
            @include section-size("/dist/images/falcon9/05.jpg");
        }
        .f-c-item4{
            @include section-size("/dist/images/falcon9/06.jpg");
        }
        .f-c-item5{
            @include section-size("/dist/images/falcon9/07.jpg");
        }
        .table {
            color: $main;
            width: 100%;
        }
    }
}

.falcon-section-4 {
    @include section-size("/dist/images/falcon9/08.jpg");
    color: $main;
    .falcon-section4-content {
        margin-top: 15%;
        margin-left: 13.5%;
        width: 35%
    }
    * {
        color: $main;
    }
}

.falcon-section5 {
    min-height: 100vh;
    min-width: 100vw;
    color: $main;
    .carousel, .carousel-inner, .carousel-item {
        height: 100vh;
        width: 100%;
        .f-c2-item1{
            @include section-size("/dist/images/falcon9/09.jpg");
        }
        .f-c2-item2{
            @include section-size("/dist/images/falcon9/10.jpg");
        }
        .f-c2-item3{
            @include section-size("/dist/images/falcon9/11.jpg");
        }
        .f-c2-item4{
            @include section-size("/dist/images/falcon9/12.jpg");
        }
        .f-c2-item5{
            @include section-size("/dist/images/falcon9/13.jpg");
        }
        .f-c2-item6{
            @include section-size("/dist/images/falcon9/14.jpg");
        }
        .f-c2-content {
            background-color: #000;
            width: 70%;
            @include flex(column, center, center);
            margin-top: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.falcon-section1-content {
    margin-top: 20%;
    @include flex(column, center, center);
}


