.section-1 {
    @include section-size("/dist/images/01.jpg");
    color: $main;
}

.section-2 {
    @include section-size("/dist/images/03.jpg");
    color: $main;
}

.section-3 {
    @include section-size("/dist/images/02.gif");
    color: $main;
}

.section-4 {
    @include section-size("/dist/images/04.jpg");
    color: $main;
}

.section-content {
    height: 100vh;
    @include flex(column, center, flex-start);
}

.learn-more-btn {
    padding: $m1 $l1;
}