.hsf-section1 {
    @include section-size("/dist/images/humanFlight/01.jpg");
    color: $main;
    .hsf-title {
        font-size: 7rem;
    }
    .hsf-section1-content {
        width: 100%;
        height: 100%;
        div {
            margin-top: 15rem;
            @include flex(column, center, center);
        }
    }
}

.hsf-section2{
    @include section-size("/dist/images/humanFlight/02.jpg");
    color: $main;
    .hsf-section2-content {
        margin-left: 55%;
        margin-top: 15%;
        width: 40%;
    }
}

.hsf-section3{
    @include section-size("/dist/images/humanFlight/03.jpg");
    color: $main;
    .hsf-section3-content {
        margin-left: 6%;
        margin-top: 15%;
        width: 45%;
    }
}

.hsf-section4{
    @include section-size("/dist/images/humanFlight/04.jpg");
    color: $main;
    .hsf-section4-content {
        margin-left: 55%;
        margin-top: 15%;
        width: 40%;
    }
}

.hsf-section5{
    @include section-size("/dist/images/humanFlight/05.jpg");
    color: $main;
    .hsf-section5-content {
        margin-left: 6%;
        margin-top: 15%;
        width: 45%;
    }
}